<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-studenti-heading" jhiTranslate="safnewApp.studenti.home.createOrEditLabel">Create or edit a Studenti</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!studenti.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="studenti.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="studenti.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.cognome" for="field_cognome">Cognome</label>
                    <input type="text" class="form-control" name="cognome" id="field_cognome"
                        [(ngModel)]="studenti.cognome" required/>
                    <div [hidden]="!(editForm.controls.cognome?.dirty && editForm.controls.cognome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cognome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="studenti.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                        [(ngModel)]="studenti.telefono" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.indirizzo" for="field_indirizzo">Indirizzo</label>
                    <input type="text" class="form-control" name="indirizzo" id="field_indirizzo"
                        [(ngModel)]="studenti.indirizzo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.citta" for="field_citta">Citta</label>
                    <input type="text" class="form-control" name="citta" id="field_citta"
                        [(ngModel)]="studenti.citta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.provincia" for="field_provincia">Provincia</label>
                    <input type="text" class="form-control" name="provincia" id="field_provincia"
                        [(ngModel)]="studenti.provincia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.stato" for="field_stato">Stato</label>
                    <input type="text" class="form-control" name="stato" id="field_stato"
                        [(ngModel)]="studenti.stato" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.cap" for="field_cap">Cap</label>
                    <input type="text" class="form-control" name="cap" id="field_cap"
                        [(ngModel)]="studenti.cap" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.dataDiNascita" for="field_dataDiNascita">Data Di Nascita</label>
                    <div class="input-group">
                        <input id="field_dataDiNascita" type="text" class="form-control" name="dataDiNascita" ngbDatepicker  #dataDiNascitaDp="ngbDatepicker" [(ngModel)]="studenti.dataDiNascita"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDiNascitaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.luogoDiNascita" for="field_luogoDiNascita">Luogo Di Nascita</label>
                    <input type="text" class="form-control" name="luogoDiNascita" id="field_luogoDiNascita"
                        [(ngModel)]="studenti.luogoDiNascita" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.matricola" for="field_matricola">Matricola</label>
                    <input type="text" class="form-control" name="matricola" id="field_matricola"
                        [(ngModel)]="studenti.matricola" required/>
                    <div [hidden]="!(editForm.controls.matricola?.dirty && editForm.controls.matricola?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.matricola?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.tempoParziale" for="field_tempoParziale">Tempo Parziale</label>
                    <input type="checkbox" class="form-control" name="tempoParziale" id="field_tempoParziale"
                        [(ngModel)]="studenti.tempoParziale" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.abilitato" for="field_abilitato">Abilitato</label>
                    <input type="checkbox" class="form-control" name="abilitato" id="field_abilitato"
                        [(ngModel)]="studenti.abilitato" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.dataModifica" for="field_dataModifica">Data Modifica</label>
                    <div class="input-group">
                        <input id="field_dataModifica" type="text" class="form-control" name="dataModifica" ngbDatepicker  #dataModificaDp="ngbDatepicker" [(ngModel)]="studenti.dataModifica"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataModificaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.studenti.relStuCdl" for="field_relStuCdl">Rel Stu Cdl</label>
                    <select class="form-control" id="field_relStuCdl" name="relStuCdl" [(ngModel)]="studenti.relStuCdlId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cdlOption.id" *ngFor="let cdlOption of cdls; trackBy: trackCdlById">{{cdlOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
