<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cdl-heading" jhiTranslate="safnewApp.cdl.home.createOrEditLabel">Create or edit a Cdl</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cdl.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cdl.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.cdl.codice" for="field_codice">Codice</label>
                    <input type="text" class="form-control" name="codice" id="field_codice"
                        [(ngModel)]="cdl.codice" required/>
                    <div [hidden]="!(editForm.controls.codice?.dirty && editForm.controls.codice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.cdl.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="cdl.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.cdl.abilitato" for="field_abilitato">Abilitato</label>
                    <input type="checkbox" class="form-control" name="abilitato" id="field_abilitato"
                        [(ngModel)]="cdl.abilitato" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="safnewApp.cdl.relCdlsFac" for="field_relCdlsFac">Rel Cdls Fac</label>
                    <select class="form-control" id="field_relCdlsFac" name="relCdlsFac" [(ngModel)]="cdl.relCdlsFacId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facoltaOption.id" *ngFor="let facoltaOption of facoltas; trackBy: trackFacoltaById">{{facoltaOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
