<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="noteEsame">
            <h2><span jhiTranslate="safnewApp.noteEsame.detail.title">Note Esame</span> {{noteEsame.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="safnewApp.noteEsame.appunti">Appunti</span></dt>
                <dd>
                    <span>{{noteEsame.appunti}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.dataDispensa">Data Dispensa</span></dt>
                <dd>
                    <span>{{noteEsame.dataDispensa}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.dataCorsi">Data Corsi</span></dt>
                <dd>
                    <span>{{noteEsame.dataCorsi}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.dataABI">Data ABI</span></dt>
                <dd>
                    <span>{{noteEsame.dataABI}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.dataRiepilogo">Data Riepilogo</span></dt>
                <dd>
                    <span>{{noteEsame.dataRiepilogo}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.oraEsame">Ora Esame</span></dt>
                <dd>
                    <span>{{noteEsame.oraEsame}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.costoEsame">Costo Esame</span></dt>
                <dd>
                    <span>{{noteEsame.costoEsame}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.fasce">Fasce</span></dt>
                <dd>
                    <span>{{noteEsame.fasce}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.piva">Piva</span></dt>
                <dd>
                    <span>{{noteEsame.piva}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.fattura">Fattura</span></dt>
                <dd>
                    <span>{{noteEsame.fattura}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.noteFattura">Note Fattura</span></dt>
                <dd>
                    <span>{{noteEsame.noteFattura}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.emailInviata">Email Inviata</span></dt>
                <dd>
                    <span>{{noteEsame.emailInviata}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.relNoteStud">Rel Note Stud</span></dt>
                <dd>
                    <div *ngIf="noteEsame.relNoteStudId">
                        <a [routerLink]="['/studenti', noteEsame.relNoteStudId, 'view']">{{noteEsame.relNoteStudId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="safnewApp.noteEsame.relNoteEsami">Rel Note Esami</span></dt>
                <dd>
                    <div *ngIf="noteEsame.relNoteEsamiId">
                        <a [routerLink]="['/esami', noteEsame.relNoteEsamiId, 'view']">{{noteEsame.relNoteEsamiId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/note-esame', noteEsame.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
