<div>
    <h2 id="page-heading">
        <span jhiTranslate="safnewApp.noteEsame.home.title">Note Esames</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-note-esame" [routerLink]="['/note-esame/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="safnewApp.noteEsame.home.createLabel">
            Create new Note Esame
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="noteEsames">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appunti"><span jhiTranslate="safnewApp.noteEsame.appunti">Appunti</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataDispensa"><span jhiTranslate="safnewApp.noteEsame.dataDispensa">Data Dispensa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataCorsi"><span jhiTranslate="safnewApp.noteEsame.dataCorsi">Data Corsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataABI"><span jhiTranslate="safnewApp.noteEsame.dataABI">Data ABI</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataRiepilogo"><span jhiTranslate="safnewApp.noteEsame.dataRiepilogo">Data Riepilogo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oraEsame"><span jhiTranslate="safnewApp.noteEsame.oraEsame">Ora Esame</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costoEsame"><span jhiTranslate="safnewApp.noteEsame.costoEsame">Costo Esame</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fasce"><span jhiTranslate="safnewApp.noteEsame.fasce">Fasce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="piva"><span jhiTranslate="safnewApp.noteEsame.piva">Piva</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fattura"><span jhiTranslate="safnewApp.noteEsame.fattura">Fattura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noteFattura"><span jhiTranslate="safnewApp.noteEsame.noteFattura">Note Fattura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailInviata"><span jhiTranslate="safnewApp.noteEsame.emailInviata">Email Inviata</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="relNoteStudId"><span jhiTranslate="safnewApp.noteEsame.relNoteStud">Rel Note Stud</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="relNoteEsamiId"><span jhiTranslate="safnewApp.noteEsame.relNoteEsami">Rel Note Esami</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let noteEsame of noteEsames ;trackBy: trackId">
                <td><a [routerLink]="['/note-esame', noteEsame.id, 'view' ]">{{noteEsame.id}}</a></td>
                <td>{{noteEsame.appunti}}</td>
                <td>{{noteEsame.dataDispensa | date:'mediumDate'}}</td>
                <td>{{noteEsame.dataCorsi | date:'mediumDate'}}</td>
                <td>{{noteEsame.dataABI | date:'mediumDate'}}</td>
                <td>{{noteEsame.dataRiepilogo | date:'mediumDate'}}</td>
                <td>{{noteEsame.oraEsame | date:'medium'}}</td>
                <td>{{noteEsame.costoEsame}}</td>
                <td>{{noteEsame.fasce}}</td>
                <td>{{noteEsame.piva}}</td>
                <td>{{noteEsame.fattura}}</td>
                <td>{{noteEsame.noteFattura}}</td>
                <td>{{noteEsame.emailInviata}}</td>
                <td>
                    <div *ngIf="noteEsame.relNoteStudId">
                        <a [routerLink]="['../studenti', noteEsame.relNoteStudId , 'view' ]" >{{noteEsame.relNoteStudId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="noteEsame.relNoteEsamiId">
                        <a [routerLink]="['../esami', noteEsame.relNoteEsamiId , 'view' ]" >{{noteEsame.relNoteEsamiId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/note-esame', noteEsame.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/note-esame', noteEsame.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'note-esame/'+ noteEsame.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="noteEsames && noteEsames.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
