<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materie">
            <h2><span jhiTranslate="safnewApp.materie.detail.title">Materie</span> {{materie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="safnewApp.materie.nome">Nome</span></dt>
                <dd>
                    <span>{{materie.nome}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.materie.cfu">Cfu</span></dt>
                <dd>
                    <span>{{materie.cfu}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.materie.abilitato">Abilitato</span></dt>
                <dd>
                    <span>{{materie.abilitato}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.materie.dataModifica">Data Modifica</span></dt>
                <dd>
                    <span>{{materie.dataModifica}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.materie.relMatsCdl">Rel Mats Cdl</span></dt>
                <dd>
                    <div *ngIf="materie.relMatsCdlId">
                        <a [routerLink]="['/cdl', materie.relMatsCdlId, 'view']">{{materie.relMatsCdlNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="safnewApp.materie.relMatsTut">Rel Mats Tut</span></dt>
                <dd>
                    <div *ngIf="materie.relMatsTutId">
                        <a [routerLink]="['/tutor', materie.relMatsTutId, 'view']">{{materie.relMatsTutCognome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="safnewApp.materie.relMatsDoc">Rel Mats Doc</span></dt>
                <dd>
                    <div *ngIf="materie.relMatsDocId">
                        <a [routerLink]="['/docenti', materie.relMatsDocId, 'view']">{{materie.relMatsDocCognome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/materie', materie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
