<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pianiDiStudio">
            <h2><span jhiTranslate="safnewApp.pianiDiStudio.detail.title">Piani Di Studio</span> {{pianiDiStudio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="safnewApp.pianiDiStudio.abilitato">Abilitato</span></dt>
                <dd>
                    <span>{{pianiDiStudio.abilitato}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.pianiDiStudio.dataModifica">Data Modifica</span></dt>
                <dd>
                    <span>{{pianiDiStudio.dataModifica}}</span>
                </dd>
                <dt><span jhiTranslate="safnewApp.pianiDiStudio.relAnnoAccademico">Rel Anno Accademico</span></dt>
                <dd>
                    <div *ngIf="pianiDiStudio.relAnnoAccademicoId">
                        <a [routerLink]="['/anno-accademico', pianiDiStudio.relAnnoAccademicoId, 'view']">{{pianiDiStudio.relAnnoAccademicoId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="safnewApp.pianiDiStudio.relPdsCdl">Rel Pds Cdl</span></dt>
                <dd>
                    <div *ngIf="pianiDiStudio.relPdsCdlId">
                        <a [routerLink]="['/cdl', pianiDiStudio.relPdsCdlId, 'view']">{{pianiDiStudio.relPdsCdlId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="safnewApp.pianiDiStudio.relPdsMat">Rel Pds Mat</span></dt>
                <dd>
                    <span *ngFor="let relPdsMat of pianiDiStudio.relPdsMats; let last = last">
                        <a [routerLink]="['/materie', relPdsMat?.id, 'view' ]">{{relPdsMat.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/piani-di-studio', pianiDiStudio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
